@tailwind base;
@tailwind components;
@tailwind utilities;

@property --tw-gradient-from-color {
  syntax: "<color>";
  inherits: false;
  initial-value: red;
}

@property --tw-gradient-to-color {
  syntax: "<color>";
  inherits: false;
  initial-value: red;
}
